*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #240046;
    font-family: "poppins",serif;
}
#partesuperior{
    background-color: #ece4f3;
    display: flex;
    justify-content: space-between;
}
#logo{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
#divdalogo{
    margin: 15px;
    display: flex;
}
#itensmenu{
    display: flex;
    list-style-type: none;
    margin: 30px;
}
a{
    color: black;
    text-decoration: none;
    margin-left: 30px;
    padding: 4px;
}
ul li
{
    display: inline;
}

li:before {
content: " | ";
}

li:first-child:before {
content: none;
}

#destaques{
    display: flex;
    color: aliceblue;
    padding: 100px;
    background-color: #624a78;
    overflow: auto;
    text-align: left;
    justify-content: space-between;
}
#imagem-computador{
    padding: 0;
    width: 800px;
    height: 600px;
    margin: 0;
}

#fotos{
    display: flex;
    align-items: center;
    padding: 200px;
    justify-content: center;
    background-color: #624a78;
    border-radius: 40px;
    height: 600px;
    margin: 200px;
    width: 1000px;

}
.imagensflores{
    margin: 40px;
    border-radius: 30px;
}

#flor1{
    width: 250px;
}

#flor2{
    width: 250px;
}

#flor3{
    width: 250px;
}

.textoflores{
    margin: 55px;
    margin-top: 0;
    color: #ece4f3;
    font-size: 15px;
    text-align: justify;
}

.divfotos{
    align-items: center;
    justify-items: center;
}

#blocodasflores{
    align-items: center;
    justify-content: center;
    padding: 200px;
}





    
